@model  MealPlanner.Models.IndexVM

<div class="modal fade" id="ingredientModal" tabindex="-1" role="dialog" style="z-index:99999">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Ingredient</h4>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label for="name">Category:</label>
					@Html.DropDownList("ingredientCategories", Model.IngredientCategories.Select(c => new SelectListItem { Value = c.IngredientCategoryId.ToString(), Text = c.Name }), "Select a Category", new { @onchange = "toggleIngrTabs()" })
				</div>
				<br />
				<div id="ingrTabs" style="display:none">
					<!-- Nav tabs -->
					<ul class="nav nav-tabs" role="tablist">
						<li role="presentation" class="active"><a href="#search" role="tab" data-toggle="tab">Existing</a></li>
						<li role="presentation"><a href="#new" role="tab" data-toggle="tab">New</a></li>
					</ul>

					<!-- Tab panes -->
					<div class="tab-content">
						<br /><br />
						<div role="tabpanel" class="tab-pane active" id="search">
							<p>Select a catetory choose from a list of ingredients.</p>
							<div class="form-group col-md-6">
								<label for="name">Name:</label> <br />
								<select id="ingredientList" class="form-control"></select>
							</div>
							<br />
							<button type="button" class="btn btn-primary" onclick="selectIngredient($('#ingredientList'))">Select</button>
						</div>
						<div role="tabpanel" class="tab-pane fade" id="new">
							<p>Cant find what your looking for? Add a new ingredient for the selected category!</p>
							<div class="form-group col-md-6">
								<label for="name">Name:</label>
								<input class="form-control" id="ingrName" type="text">
							</div>
							<br />
							<button type="button" class="btn btn-primary" onclick="saveIngredient()">Save & Select</button>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
